<h1> Welcome </h1>


<%= turbo_component :counter, async: false %>
</br>

<%# <% 10.times do %>
<%#   <%= turbo_component :greetings, async: true, loading: :lazy, locals: { author: @author } do %>
<%#     loading...
<%#   <%end%>
<%#   </br>
<%# <% end %>
