<h1> Welcome </h1>

<%= turbo_component :greetings, async: false, locals: { author: @author } do %>
  loading...
<% end %>

</br>
<% 100.times do %>
  <%= turbo_component :greetings, async: false, locals: { author: @author } %>
  </br>
<% end %>
