<h1> Welcome </h1>
<%= turbo_stream_from :counter %>
<%= turbo_component :counter, async: false do %>
  loading...
<% end %>

<%= turbo_component :counter, async: true do %>
  loading...
<% end %>

</br>
<% 100.times do %>
  <%= turbo_component :greetings, async: true, loading: :lazy, locals: { author: @author } %>
  </br>
<% end %>
