class <%= class_name %>::ComponentController < ApplicationController
  include TurboComponent::Concerns::Controller

  class Display
    def render(params:)
      @something = params[:something]
    end
  end
end
