<h1>Counter::Component#show</h1>
<p>Find me in app/turbo_components/counter/views/show.html.erb</p>

<%= session[:counter] %>
<%= button_to "increment", turbo_component_counter_increment_path, method: :post, data: {disable_with: "loading..."} %>
